:root {
    /* font */
    --ff-base:"Red Hat Display", serif;
    --fs-preset-1: 2.5rem;
    --fs-preset-2:   2rem;
    --fs-preset-3:0.75rem;
    --fs-preset-4:   1rem;
    --fs-preset-5:   1rem;

    --fw-black:  900;
    --fw-medium: 500;

    /* color */
    --clr-cyan-600:   hsl(192, 37%, 48%);
    --clr-cyan-300:   hsl(192, 90%, 77%);
    --clr-purple-600: hsl(268, 34%, 53%);
    --clr-purple-300: hsl(268, 100%, 86%);
    --clr-state-900:  hsl(240, 21%, 20%);
    --clr-state-600:  hsl(240, 10%, 57%);
    --clr-state-300:  hsl(240, 18%, 85%);

    --clr-white:      hsl(0,  0%, 98%);

    /* for setup layout in web site */
    /* Uesr setting	 */
    --content:    1120px; /* default container size*/
    --popout:     1480px;
    --full-width:    1fr;
    --space-inline: 2rem;    
}

/* for custom button */
.btn:is(.btn--cyan) {
    --clr-btn: var(--clr-white);
    --bg-btn : var(--clr-cyan-600);
    --clr-btn-hover: var(--clr-white);
    --bg-btn-hover : var(--clr-cyan-300);
}

.btn:is(.btn--purple) {
    --clr-btn: var(--clr-white);
    --bg-btn : var(--clr-purple-600);
    --clr-btn-hover: var(--clr-white);
    --bg-btn-hover : var(--clr-purple-300);
}

/* control font-size */
@media (min-width : 600px) {
    :root {
        --fs-preset-1:     3rem;
        --fs-preset-2:  2.25rem;
        --fs-preset-3: 0.875rem;
        --fs-preset-4:     1rem;
        --fs-preset-5:     1rem;
    }
}

@media (min-width : 1200px) {
    :root {
        --fs-preset-1: clamp(3rem, -2.0209rem + 6.6946vw, 4rem);
        --fs-preset-2:   2.5rem;
        --fs-preset-3:     1rem;
        --fs-preset-4: 1.125rem;
        --fs-preset-5:     1rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */
h1,
h2,
h3,
h4,
h5,
p,
body,
figure,
picture {
  margin: 0;
}

/* set line height handing */
h1,
h2,
h3{
    line-height: 1.1;
}

/* Set up the body */
body{
    line-height: 1.5;
    min-height: 100vh;

    font-family: var(--ff-base);
    font-size: var(--fs-preset-4);
    font-weight: var(--fw-medium);
    background-color: var(--clr-white);
}

/* Make images easier to work with */
img,
picture {
    width: 100%;
    object-fit: cover;
    display: block;
}

/* Make form elements to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animation for people who' ve turned them off */
@media(pafers-reduced-motion: reduce) {
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
/* ------------------------------------------------------------------------ */
/*                               utilities  classes                         */
/* ------------------------------------------------------------------------ */

/* button */
.btn {
    outline: none;
    width: max-content;
    text-decoration: none;
    display: inline-block;
    border-radius: 3.5rem;
    padding-block:  1rem;
    padding-inline: 2.5rem;
    font-size:      var(--fs-preset-5);
    font-weight:    var(--fw-black);
    background:     var(--bg-btn);
    color:          var(--clr-btn);
}

/* button hover focus */
.btn:hover,
.btn:focus {
    color :      var(--clr-btn-hover);
    background : var(--bg-btn-hover);
}

/* point */
.point {
    margin-block-start: 3.8rem;
    margin-inline: auto;
    width: max-content;
    padding-block: 1.2rem;
    padding-inline: 1.5rem;
    display: block;
    font-size: var(--fs-preset-5);
    font-weight: var(--fw-black);
    color: var(--clr-state-600);
    background-color: var(--clr-white);
    border: 0.125rem solid var(--clr-state-300);
    border-radius: 64px;
    position: relative;
}

.point::before{
    position: absolute;
    content: "";
    z-index: -1;
    width: 0.15rem;
    height:   5rem;
    transform: translateY(-5rem) translateX(0.5rem);
    background-color:var(--clr-state-300);
}

/* ------------------------------------------------------------------------ */
/*                                gridContainer                             */
/* ------------------------------------------------------------------------ */

.gridContainer {
    /* calculator content popout and full size */
    --content-size:min(100% - (var(--space-inline) * 2), var(--content));
    --popout-size :minmax(0, calc((var(--popout) - var(--content)) * 0.5));
    --full-size   :minmax(var(--space-inline),   var(--full-width));
    
    display: grid;
    grid-template-columns: 
        [full-width-start]var(--full-size) 
            [popout-start]var(--popout-size) 
                [content-start] var(--content-size)[content-end] 
            var(--popout-size)[popout-end] 
        var(--full-size)[full-width-end]
    ;
}

.gridContainer > * {
    grid-column: content;
}

/* ------------------------------------------------------------------------ */
/*                                primary-header                            */
/* ------------------------------------------------------------------------ */

.primaryHeader {
    padding-block-start: 3rem;
    min-height: 76px;
}

.primaryHeader img {
    width: 118px;
    height: 28px;
    margin-inline: auto;
}

/* ------------------------------------------------------------------------ */
/*                                hero section                              */
/* ------------------------------------------------------------------------ */

.heroWrppaer {
    /* use full-width from grid-line in gridContainer */
    grid-column: full-width;
}

.hero {
    display: grid;
    grid-template-rows: minmax(160px, 1fr) min-content;
    padding-block-start: 4rem;
    padding-block-end:  2rem;
    overflow-x: clip;
}

.hero .heroImage {
    min-height: 9.0625rem; /*145px*/
    scale: 1.1;
    object-fit: scale-down;
}

.hero .heroDesrciption {
    padding-block-start: 3rem;
    width: min(100% - (var(--space-inline) * 2), 330px);
    margin-inline: auto;
    text-align: center;
}

/* text-warp:balance if browser supports */
@supports(text-wrap: balance) {
    .hero .title {
        text-wrap: balance;
        width:100%;
    }
}

.hero .title {
    font-size: var(--fs-preset-1);
    font-weight: var(--fw-black);
    color: var(--clr-state-900);

    /* text-warp:balance if browser not  supports */
    width:min(100%, 270px);
    margin-inline: auto;
}

.hero .intro {
    color: var(--clr-state-600);
}

.hero .title + .intro {
    margin-block-start: 1.5rem;
}

.hero .intro + .btn{
    margin-block-start: 1.5rem;
}

.hero .btn + .btn {
    margin-block-start: 0.75rem;
}

/* ------------------------------------------------------------------------ */
/*                                example-section                           */
/* ------------------------------------------------------------------------ */

.example {
    padding-block-start:2rem;
    padding-block-end:  4rem;
}

.exampleImage {
    padding-block: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
}

.exampleImage img{
    border-radius: 0.75rem;
}

.exampleDesrciption {
    text-align: center;
    width: min(100%, 310px);
    margin-inline: auto;
}

.exampleDesrciption .logo {
    font-size: var(--fs-preset-3);
    font-weight: var(--fw-black);
    color: var(--clr-cyan-600);
    letter-spacing: 0.25rem;
}

.exampleDesrciption .title {
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-black);
    color: var(--clr-state-900);
}

.exampleDesrciption .intro {
    color: var(--clr-state-600);
}

.exampleDesrciption .logo + .title {
    margin-block-start:1rem;
}

.exampleDesrciption .title + .intro {
    margin-block-start:2rem;
}

/* ------------------------------------------------------------------------ */
/*                                  footer                                  */
/* ------------------------------------------------------------------------ */

.primaryFooter {
    text-align: center;
    overflow-x: clip;
}

.primaryFooter .point {
    transform: translateY(2.2rem);
    z-index: 5;
}

.primaryFooter .point::before{
    transform:translateY(-6.2rem) translateX(0.5rem);
    z-index: -1;
}

.primaryFooter .bgImage {
    grid-column: full-width;
    background-image: url(assets/desktop/image-footer.jpg);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-size:260ch;
    position: relative;
}

.primaryFooter .bgImage::after {
    z-index: 1;
    content: '';
    inset: 0;
    position: absolute;
    background-color: var(--clr-cyan-600);
    opacity: 0.8;
}

.primaryFooter .footerDescription{
    padding-block:  4rem;
    width: min(100% - (var(--space-inline) * 2), 500px);
    margin-inline: auto;
    z-index: 2;
    display: grid;
    row-gap: 1.5rem;
    align-items: start;
    justify-items: center;
    position: relative;
}

.primaryFooter .footerDescription .title {
    font-size: var(--fs-preset-2);
    font-weight: var(--fw-black);
    color: var(--clr-white);
}

.primaryFooter .footerDescription .intro {
    font-size: var(--fs-preset-4);
    color: var(--clr-white);
}

@media (max-width:599px) {
    /* ------------------------------------------------------------------------ */
    /*                                hero section                              */
    /* ------------------------------------------------------------------------ */
    .hide-for-mobile {
        display: none;
    }
}

@media (min-width: 600px) {
    /* ------------------------------------------------------------------------ */
    /*                                primary-header                            */
    /* ------------------------------------------------------------------------ */
    
    .primaryHeader {
        padding-block-start: 3rem;
        min-height: 76px;
    }

    /* ------------------------------------------------------------------------ */
    /*                                hero section                              */
    /* ------------------------------------------------------------------------ */

    .hide-for-desktop {
        display: none;
    }
    
    .hero {
        padding-block-end: 4rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .hero .heroImage {
        scale: 1.1;
    }

    .hero .heroImage:nth-child(2) {
        transform: translateX(-5%);
    }

    .hero .heroImage:nth-child(3) {
        transform: translateX(5%);
    }

    .hero .heroDesrciption {
        grid-column: span 2;
        padding-block-start: 3rem;
        width: min(100% - (var(--space-inline) * 2), 390px);
        margin-inline: auto;
        text-align: center;
    }

    @supports(text-wrap: balance) {
        .hero .title {
            text-wrap: balance;
            width:100%;
        }
    }

    .hero .title {
        width:min(100%, 330px);
        margin-inline: auto;
    }    

    .hero .btn + .btn {
      margin-inline-start: 1rem ;
    }

    /* ------------------------------------------------------------------------ */
    /*                                example-section                           */
    /* ------------------------------------------------------------------------ */

    .example {
        padding-block-start:3.5rem;
        padding-block-end:    4rem;
    }

    .exampleImage {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:1.5rem;
    }

    .exampleDesrciption {
        width: min(100%, 504px);
    }

    .exampleDesrciption .title {
        padding-inline: 30px;
    }
}

@media (min-width : 900px) {
    .hero .heroImage {
        scale: 1.3;
    }
}

@media (min-width: 1200px) {

    /* ------------------------------------------------------------------------ */
    /*                                primary-header                            */
    /* ------------------------------------------------------------------------ */

    .primaryHeader {
        padding-block-start: 5rem;
        min-height: 76px;
    }
    
    /* ------------------------------------------------------------------------ */
    /*                                hero section                              */
    /* ------------------------------------------------------------------------ */

    .heroWrppaer {
        grid-column: full-width;
    }
    
    .hero {
        padding-block-end: 4rem;
        height: 30.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
    }

    .hero > * {
        grid-row: 1;
    }

    .hero .heroImage {
        scale: 1.2;
    }

    .hero .heroImage:nth-child(2) {
        grid-column: 1;
        align-self: start;
        transform: translateX(-1.5rem);
    }

    .hero .heroImage:nth-child(3) {
        grid-column: 3;
        align-self: end;
        transform: translateX(1.5rem);
    }
        
    .hero .heroDesrciption {
        grid-column: 2;
        padding-block-start: 3rem;
        width: min(100% - (var(--space-inline) * 2), 500px);
        margin-inline: auto;
        text-align: center;
    }

    @supports(text-wrap: balance) {
        .hero .title {
            text-wrap: balance;
            width:100%;
        }
    }

    .hero .title {
        width: 100%;
        margin-inline: auto;
    } 
    
    /* ------------------------------------------------------------------------ */
    /*                                example-section                           */
    /* ------------------------------------------------------------------------ */

    .example {
        padding-block-start:3.5rem;
        padding-block-end:  4.5rem;
    }

    .exampleImage {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(16rem, 1fr);
        gap:2rem;
    }

    .exampleDesrciption {
        width: min(100%, 544px);
    }

    .exampleDesrciption .title {
        padding-inline: 50px;
    }

    /* ------------------------------------------------------------------------ */
    /*                                  footer                                  */
    /* ------------------------------------------------------------------------ */

    .primaryFooter {
        text-align: left;
    }

    .primaryFooter .footerDescription{
        width: min(100% - (var(--space-inline) * 2), var(--content));
        padding-block:  7rem;
        grid-template-columns:1fr 1fr 1fr;
        gap:2rem;
    }
    
    .primaryFooter .footerDescription a {
        justify-self: end;
    }
}

@media (min-width: 1560px) {

    /* ------------------------------------------------------------------------ */
    /*                                hero section                              */
    /* ------------------------------------------------------------------------ */
    
    .hide-for-desktop {
        display: none;
    }
    
    .heroWrppaer {
        /* use popout-size from grid-line gridContainer */
        grid-column: popout;
    }
    
    .hero {
        overflow-x: visible;
    }

    .hero .heroImage:nth-child(1) {
        transform: translateX(0);
    }

    .hero .heroImage:nth-child(2) {
        transform: translateX(0);
    }
}